  <span>
    <em>Posted <%= time_ago_in_words(comment.created_at)%> ago | By <%= comment.user.email %> |
      <%= link_to 'Delete', comment, :method => :delete %></em>
  </span> 

  <div>
    <%= comment.comment %>
  </div>

  <div>
    <%= link_to "reply", new_reply_comment_path(comment) %>
  </div>
  
 
