<style>
  #outer { text-indent: 30px; }
  #inner{ text-indent: 60px; }
</style>

<% if defined?(wrap_in) && !wrap_in.blank? %>
  <%= content_tag wrap_in do %>
    <div id = "inner"> 
      <% get_indentation(reply).times do%>&nbsp;<% end %>

      <% if !(user_signed_in? && (!reply.upvotes.where(:user_id => current_user.id,  :upvotable_id => reply.id).empty?)) %>
        <img id="<%= "#{reply.id}" %>uv" src="/assets/arrow_17.gif" /></img>
      <% end %>

      <% if user_signed_in? && !(current_user.admin? && (!reply.downvotes.where(:user_id => current_user.id,  :downvotable_id => reply.id).empty?)) %>
        <img id="<%= "#{reply.id}"%>" src="/assets/arrow_17.gif"  class="rotated_image" /></img>
      <% end %>

      <span id = "<%="#{reply.id}"%>uvpoints">
        <%= pluralize(reply.points, "point") %> | 
      </span>
      <em>Posted<%= time_ago_in_words(reply.created_at)%> ago | By <%= reply.user.username %> |
        <%= link_to 'Delete', reply, :method => :delete %></em><br/>
    </div>
    
    <div  id = "inner">
      <% get_indentation(reply).times do%>&nbsp;<%end%>
    </div>
 
    <div  id = "inner">
      <% get_indentation(reply).times do%>&nbsp;<% end %>
      <%= reply.comment %>
    </div>
    
    <div  id = "inner">
      <% get_indentation(reply).times do%>&nbsp;<% end %> 
      <%= link_to "reply", new_reply_comment_path(reply) %>
    </div>
    <br/>
  <% end %>

<% else %>
  <div id = "outer">
   <% if !(user_signed_in? && (!reply.upvotes.where(:user_id => current_user.id,  :upvotable_id => reply.id).empty?)) %>
        <img id="<%= "#{reply.id}" %>uv" src="/assets/arrow_17.gif" /></img>
      <% end %>

      <% if user_signed_in? && !(current_user.admin? && (!reply.downvotes.where(:user_id => current_user.id,  :downvotable_id => reply.id).empty?)) %>
        <img id="<%= "#{reply.id}"%>" src="/assets/arrow_17.gif"  class="rotated_image" /></img>
      <% end %>

    <span id = "<%="#{reply.id}"%>uvpoints">
      <%= pluralize(reply.points, "point") %> | 
    </span>

    <em>Posted <%= time_ago_in_words(reply.created_at)%> ago | By <%= reply.user.username %> |
      <%= link_to 'Delete', reply, :method => :delete %></em><br/>
   
  <div id = "outer"><%=reply.comment%></div>
  <div id = "outer"><%= link_to "reply", new_reply_comment_path(reply) %></div>
  <br/>

  </div>
<% end %>


<% if !reply.replies.empty? %>
  <div><%= render :partial => "comments/reply", :collection => reply.replies, :locals => { :wrap_in => :div} %></div>
<% end %>

<script>
  $('img#<%= "#{reply.id}"%>uv').click(function(e){
    e.preventDefault();
    $div = $(this).attr('id');
    $.ajax({
      context: this,
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/upvotes",
      cache: false,
      data: {upvotable_id: $div, upvotable_type: "Comment"},
      success: function(json){
        $(this).hide();
        alert(json);
        $('span#'+ $div +'points').text(json + ' points |');
      }
    });
  });
</script>

<script>
  $('img#<%= "#{reply.id}"%>').click(function(e){
    e.preventDefault();
    $div = $(this).attr('id');
    $.ajax({
      context: this,
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/downvote",
      cache: false,
      data: {downvotable_id: $div, downvotable_type: "Comment"},
      success: function(json){
        $(this).hide();
        $('span#'+ $div +'uvpoints').text(json + ' points |');
      }
    });
  });
</script>


 
