<div>
  <%= @post.title %> 
  <%= "(#{@post.url})" unless @post.url.nil? %><br/>
  <%= @post.text unless @post.text.nil? %>
</div>

<br/>
<br/>

<div>
  <%= form_for ([Comment.new]) do |f| %>
    <%= f.text_area :comment, :rows => 8 %><br />
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.submit "Add comment" %>
<% end %>
</div>

<br/>

<div>
  <span><%= pluralize(@post.comments.count, "Comment")%></span>
</div>

<br/>

<div>
  <%= div_for @post.comments.parent_comments do |comment| %>
    <% if comment.replies.empty? %>
      <div>
        <%= render :partial => 'comments/comment', :object => comment %>
      </div>
      <br/>
    <% else%>
      <div>
        <%= render :partial => 'comments/comment', :object => comment %>
        <%= render :partial => 'comments/reply', :collection=> comment.replies%>
        <br/>
      </div>
    <% end %>
  <% end %>
</div>


