<div>
  <%= @post.title %> 
  <%= "(#{@post.url})" unless @post.url.nil? %><br/>
  <%= @post.text unless @post.text.nil? %>
</div>

<br />
<br />

<div>
  <%= form_for ([Comment.new]) do |f| %>
  <%= f.text_area :comment, :rows => 8 %><br />
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.submit "Add comment" %>
<% end %>
</div>

<br />

<span id="comments_Count"><%= pluralize(@post.comments.count, "Comment")%></span>

<div id = "comments">
  <%= div_for @post.comments do |comment| %>
    <% if comment.in_reply_to.nil? && comment.replies.empty? %>
    <%= render :partial => 'comments/comment', :object => comment %>
  <% elsif !comment.replies.empty? %>
      <%= render :partial => 'comments/reply', :collection => comment.replies%>
  <% end %>
<% end %>
</div>


