<style>
  .rotated_image{
    -webkit-transform:rotate(180deg);
  }
</style>

<div>
  
  <% if !(user_signed_in? && (!@post.upvotes.where(:user_id => current_user.id,  :upvotable_id => @post.id).empty?)) %>
    <img id="<%= "#{@post.id}" %>uvch" src="/assets/arrow_17.gif" /></img>
  <% end %>

  <% if user_signed_in? && current_user.admin? && (post.downvotes.where(:user_id => current_user.id,  :downvotable_id => post.id).empty?) %>
    <img id="<%= "#{@post.id}"%>dvch" src="/assets/arrow_17.gif"  class="rotated_image" /></img>
  <% end %>


 <%= @post.title %> 
    <% if !@post.url.empty? %>
      <%= ("#{@post.url}") %><br/>
    <% end %>
    <br/>
    <%= @post.text unless @post.text.empty? %>

  </div>
   
<br/>
<br/>

<div>
  <%= form_for ([Comment.new]) do |f| %>
    <%= f.text_area :comment, :rows => 8 %><br />
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.submit "Add comment" %>
<% end %>
</div>

<br/>

<div>
  <span><%= pluralize(@post.comments.count, "Comment")%></span>
</div>

<br/>

<div>
  <%= div_for @post.comments.parent_comments do |comment| %>
    <% if comment.replies.empty? %>
      <div>
        <%= render :partial => 'comments/comment', :object => comment %>
      </div>
      <br/>
    <% else %>
      <div>
        <%= render :partial => 'comments/comment', :object => comment %>
        <%= render :partial => 'comments/reply', :collection=> comment.replies%>
        <br/>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $('img#<%= "#{@post.id}" %>uvch').click(function(e){
    e.preventDefault();
    $div = $(this).attr('id');
    $.ajax({
      context: this,
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/upvotes",
      cache: false,
      data: {upvotable_id: $div, upvotable_type: "Post"},
      success: function(json){
        $(this).hide();  
      }
    });
  });
</script>

<script>
  $('img#<%= "#{@post.id}" %>dvch').click(function(e){
    e.preventDefault();
    $div = $(this).attr('id');
    $.ajax({
      context: this,
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/downvote",
      cache: false,
      data: {downvotable_id: $div, downvotable_type: "Post"},
      success: function(json){
      $(this).hide();  
      }
    });
  });
</script>


